/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

* {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "buurtcampus";
    src: url(./BuurtCampusArial-Bold.woff);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "buurtcampus";
    color: var(--PaarsBlauw);
}

:root {
    --torenoranje: hsl(22, 91%, 48%);
    --PaarsBlauw: hsl(239, 33%, 30%);
    --mosgroen: hsl(74, 37%, 47%);
    --zee: hsl(186, 85%, 21%);
    --Modder: hsl(39, 14%, 36%);
    --luchtblauw:hsl(221, 23%, 76%);
}


@layer styleguide {

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
    .oranje {
        background-color: var(--torenoranje);
    } 

    .paars-blauw {
        background-color: var(--PaarsBlauw);
    }

    .mos-groen {
        background-color: var(--mosgroen);
    }

    .zee-blauw {
        background-color: var(--zee);
    }

    .modder-bruin {
        background-color: var(--Modder);
    }

    .lucht-blauw {
        background-color: var(--lichtblauw);
    }

    /* Kleuren */
    .color-example {
        background-color: #bada55;
    }

    /* Typografie */
    .kop-1 { 
        font-size: 28pt;
    }


    .kop-2 { 
        font-size: 18pt ;  
    }

    .kop-3 {
        font-size: 12pt;
    }

    .kop-4 {
        font-size: 10pt;
    }

    .kop-5 {
        font-size: 10pt;
    }

    .kop-6 {
        font-size: 10pt;
    }
        
    .alinea-tekst {
        line-height: 1.4;
        font-size: 10pt;
    }

    /* Formulier elementen */


    /* Knoppen elementen */
    .lees-meer {
        background-color: var(--torenoranje);
        color: #ffffff;
        border: 0px solid #ffffff;
        border-radius: 100px;
        padding: 1em 2em;   
        font-weight: 600;
        cursor: pointer;
        align-self: flex-start;
        text-decoration: none;
    }

    .lees-meer:hover {
        background-color: var(--Modder);
    }
}